@import '@/styles/_transitions.scss';

/* Platforms styles */
@import '@/styles/platforms/_ebay.scss';
@import '@/styles/platforms/_facebook.scss';
@import '@/styles/platforms/_craigslist.scss';
@import '@/styles/platforms/_gumtree.scss';

/**
 * Common styles
 */
* {
  box-sizing: border-box;
}
body {
  background: #f4f4f4;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
}
#app {
  font-family: 'Avenir', $font-system;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  font-size: 16px;
  &:before,
  &:after {
    content: '';
    position: fixed;
    background: rgba($text-color, 0.1);
    width: 350px;
    height: 350px;
    transform: rotate(30deg);
    z-index: 0;
    transition: all .3s ease-in-out;
  }
  &:before {
    top: 50px;
    left: -100px;
  }
  &:after {
    bottom: -50px;
    right: -150px;
  }
  &.hasContext {
    &:before {
      transform: translateY(-50px) rotate(30deg);
    }
    &:after {
      transform: translateY(50px) rotate(30deg)
    }
  }
}
.content {
  max-width: $container-width;
  margin: 0 auto;
  text-align: center;
  margin: $gutter auto;
  padding: 0 $gutter;
}

main {
  position: relative;
  z-index: 1;
}

/* Elements */
.button {
  appearance: none;
  border-radius: 4px;
  background: $green;
  color: #fff;
  padding: 10px 20px;
  border: 0px;
  cursor: pointer;
  & + & {
    margin-left: 1rem;
  }
}
.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  > * {
    position: relative;
    flex: 1 1 auto;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 30px;
    @media (min-width: $container-width) {
      font-size: 16px;
      line-height: 40px;
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

/* Common page styles */
.page {
  position: relative;
  text-align: center;
  h1 {
    margin: 1.5em 0 1em;
  }
}