/**
 * Variables
 */
 
/* Colors */
$green: #2d8327;
$text-color: #2c3e50;

/* Platform specific */
$facebook: #3b5998;
$gumtree: #2d8327;
$craigslist: #6f2b7a;
$ebay1: #e53238;
$ebay2: #0064d2;
$ebay3: #86B817;

/* Sizing */
$gutter: 20px;
$container-width: 768px;

/* Cross-System font stack */
 $font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";