#app.facebook {
  &:before,
  &:after {
    background: rgba($facebook, .8);
  }
  .before,
  .after {
    span {
      background: rgba($facebook, 0.3);
    }
  }
  input[type="submit"] {
    background-color: $facebook;
    border-color: $facebook;
    font-weight: bold;
    &:hover {
      background-color: rgba($facebook, 0.8);
    }
  }
  .bubble {
    background: rgba($facebook, 0.2);
  }
}