#app.gumtree {
  &:before,
  &:after {
    background: rgba($green, 0.8);
  }
  .before,
  .after {
    span {
      background: rgba($green, 0.3);
    }
  }
  input[type="submit"] {
    background-color: $gumtree;
    border-color: $gumtree;
    font-weight: bold;
    &:hover {
      background-color: rgba($gumtree, 0.8);
    }
  }
  .bubble {
    background: rgba($gumtree, 0.2);
  }
}
